
:root {
  /* --font-family: "Roboto", sans-serf; */
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: rgb(243, 225, 202);
  --primary-color: #68311b;
  --secondary-color: white;
  --primary-shadow: #c7b085;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

.App {
  background-color: white;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: var(--font-family);
} */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.footer {
  display: flex; 
  justify-content: space-between; 
  height: 150px;
  background-color: var(--primary-color);
  float: bottom;
}

.footer p {
  color: var(--secondary-color);
  padding: 2%;
  display: inline-block;
  margin-top: 1%;
}

nav h2 {
  color: var(--primary-color);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  font-weight: var(--bold-font);
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px var(--primary-shadow);

}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.9rem;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--primary-color);
  margin: 6px 0;
}

.nav-links {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition);
}

a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.burger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 2rem;
  display: none;
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  margin-top: 5.5rem;

}

.home-pic{
  height: 37.5rem;
  width: 37.5rem;

}

.home-info {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
.home-info h3 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.home-info p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 20.5rem;
}

.skills-title {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.skill-icon {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 10px;
  margin: 5px;
}



.about-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about-me {
  padding: 5%;
}

.portfolio {
  margin: 10%;
}

.projects {
  padding: 5%;
}
